@model IEnumerable<CategoryDto>
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Categories List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="CategoryCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Category</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.Name
						</td>
						<td>
							<a class="btn btn-success" asp-action="CategoryEdit" asp-route-categoryId="@item.CategoryId">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a class="btn btn-danger" asp-action="CategoryDelete" asp-route-categoryId="@item.CategoryId">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>